/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter {
  opacity: 0;
  transform-origin: left bottom;
  transform: rotate(-20deg) translateX(-10px) translateY(-20px);
}

.breadcrumb-leave-active {
  position: absolute;
  opacity: 0;
  transform-origin: left bottom;
  transform: rotate(20deg) translateX(10px) translateY(10px);
}

.breadcrumb-move {
  transition: all .5s;
}

/* logo-title transition */
.logo-title-enter-active,
.logo-title-leave-active {
  transition: all .5s;
}

.logo-title-enter,
.logo-title-leave-active {
  opacity: 0;
  transform: translateX(-120px);
}

.logo-title-move {
  transition: all .5s;
}

.logo-title-leave-active {
  position: absolute;
}
